@use '../abstracts' as *;

body {
  font-family: $font-primary;
  font-weight: $normal;
}

.navbar__list > li:first-child a {
  font-weight: $semibold;
  color: $dark-blue;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h2,
h3,
h4,
h5 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  margin: 2.5rem auto;
  word-spacing: 0.1rem;
}

.footer__company-name {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

button {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: $semibold;
}
