.features {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 71vw;
  margin: 7rem auto;
}

.features__heading {
  width: 36.5rem;
  text-align: center;
  align-self: center;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features__img {
  width: 34vw;
}

.features__grid-search {
  margin-top: 0.2rem;
}

.features__grid-access {
  margin-top: 2rem;
}

.features__grid-print {
  margin-top: 0.5rem;
}

@media screen and (max-width: 884px) {
  .features__heading p {
    max-width: 70vw;
  }

  .features__grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-right: 3rem;
  }

  .features__img {
    width: 70vw;
  }

  .features__grid-security {
    margin-top: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .features {
    margin: 2rem auto;
  }

  .features__heading p {
    margin: 1rem auto;
  }
}
