@use '../abstracts/colors' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  max-height: 60px;
  margin: 3rem auto;
}

.navbar {
  min-width: 30vw;
  margin-right: 4vw;
}

.navbar__list {
  display: inline-block;
}

.navbar__list-item {
  display: inline-block;
  margin: 0 1rem;

  & a {
    text-decoration: none;
    color: $gray;
  }
}

.logo:hover {
  cursor: pointer;
}

.navbar__btn {
  display: flex;
}

.header__menu-icon {
  display: none;
}

@media screen and (max-width: 884px) {
  .navbar {
    margin-right: 0;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .navbar {
    display: none;
  }
  .header__menu-icon {
    display: block;
    width: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 80vw;
  }
}
