@use '../abstracts/' as *;

.free-trial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75vw;
  margin: auto;
  margin-top: 3.125rem;
}

.free-trial__text p {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.free-trial__btns {
  display: flex;
}

.free-trial__learn-btn {
  background-color: $pink !important;
  margin-right: 1.875rem;
}

@media screen and (max-width: 884px) {
  .free-trial {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .free-trial__text {
    margin-bottom: 2rem;
  }

  .free-trial__btns {
    max-width: 70vw;
  }
}
